<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="previous" appConnect="local" components="{dmxFormRepeat:{}}" -->
<dmx-serverconnect id="serverconnect1"></dmx-serverconnect>
<div class="container">
    <hr dmx-hide="">
    <div class="row">
        <div class="col-5" is="dmx-repeat" id="repeat1">
            <div class="d-flex">
                <div class="card">
                    <img class="card-img-top" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<meta name="ac:route" content="/previous">