#text1 {/* color: #000 */ 
}
#text1 {
background-color: #F8F8FA  
}
#text1 {  
}
h6 {  
}
#video1 {  
}
#text2 {
/* width:300 */height: 150px  
}
#inp_bio {
height:150px  
}
#inp_ticker {
height:100px  
}